@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-green: green;
}

body {
font-family: "Roboto Condensed", sans-serif !important;
}


/************************ NAVBAR *********************************/

.navbar {
  height: 5rem;
}

nav {
  z-index: 2;
}

.logo {
  width: 3.5rem;
  margin-top: 1.1rem;
  margin-left: 1.2rem;
}

/*----- MENU LINKS --------*/
.nav-link:hover {
  transition:  .5s ease-in-out;
}

nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--primary-orange);  
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-orange); 
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
}

.nav-link {
  color: var(--primary-white) !important;
}

@media(max-width: 768px) {
 .navbar-brand {
   width: 7rem;
 }
}




/************************ HEADER *********************************/

.header-wraper {
  position: relative;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.93)), url(HeaderImg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/*-------- TYPED TEXT ---------------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;

  }
}

/*-------- HEADER MAIN OFFER BUTTON ---------------*/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}

/*-------- PARTICLES JS ---------------*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/************************ ABOUT ME *********************************/
.about-me {
background: var(--primary-light-grey);
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.about-marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
} 

.aboutIcons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
}

.about-paragraph {
  margin-top: -19px;
  margin-left: 26px;
}


@media(max-width: 768px) {
  .profile-img {
    width: 10rem;
  }
  h1.about-heading {
    text-align: center;
  }  
}

/************************ PORTFOLIO *********************************/
.portfolio {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
  /* height: 90vh; */
}

.portfolio h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

.portfolio .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.portfolio .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .box {
  height: 30rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
  padding-top: 1rem;
}

.portfolio .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.portfolio .box:hover .circle {
  background: var(--primary-white);
}

.portfolio .box:hover p {
  color: var(--primary-white);
}

.box img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
  margin-top: 1rem;
}

.box:hover .portfolio-image > img {
    border: 1px solid var(--primary-dark) !important;
  }
  
.portfolio-image + h3 {
  margin-top: 30px;
}

.portfolioIcons {
  margin-top: 4rem;
}

.portfolioIcons a, .portfolioIcons a:hover  {
  text-decoration: none;
  color: var(--primary-dark);
}






/************************ EXPERIENCE *********************************/

.experience {
  padding: 0.7rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}

.vertical-timeline::before {
  background: none !important;
}

.vertical-timeline-element-content {
  padding-top: 0 !important;
  padding-bottom: 8px !important;
}

.vertical-timeline-element-content-arrow {
  filter: invert(1);
}

.icon-experience {
  display: inline-block !important;
  margin-left: -10px !important;  
  margin-bottom: 10px;
  width: 20px !important;
}

h3.vertical-timeline-element-title {
  padding-top: 1rem;
}

.vertical-timeline-element-content p {
  margin-top: 18px !important;
  margin-bottom: none !important;
}


/*------------ MEDIA ------------------*/
@media(max-width: 768px) {
.experience .container {
  padding-left: 0;
}

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  
  .timeline-block-left {
    float: none;
    direction: ltr; 
    width: 100%;
  }
}

/************************ TESTIMONIALS *********************************/
.testimonials {
  background-image: url(testimonials-bg.jpg);
  background-size: cover;
  background-color: var(--primary-black);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h1 {
  color: var(--primary-orange);
  padding: 3rem 0;
  text-transform: uppercase;
}

.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black); 
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.myCarousel h3 {
  color: var(--primary-orange);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p {
  color: var(--primary-grey);
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

/************************ CONTACTS COMPONENT *********************************/
.contacts {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

/*------------------ INPUTS -------------------------------*/
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/*---------------- MEDIA -----------------------*/
@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}

/* FOOTER */

.footer {
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-dark-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}


















